{% extends 'base/base.html' %}

{% block content %}
    <img src="{{ artist.image.url }}" alt="">
    <h5> {{ artist.name }}</h5>
    <h5><b>Country: </b>{{ artist.country_of_origin }}</h5>
    <h5><b>Years Active: </b>{{ artist.years_active }}</h5>
    <h5><b>Label: </b>{{ artist.label }}</h5>
    <h5>{{ artist.description }}</h5>
    <h5><b>Status: </b>
        {% if artist.status %}
            <span>Active</span>
        {% else %}
            <span>Split-up</span>
        {% endif %}
    </h5>
    <button><a class="nav-link" href={% url 'edit artist info' artist.id %}>Edit Info</a></button>
    {% if artist.born %}
        <button><a class="nav-link" href={% url 'edit musician instruments' artist.id %}>Edit Instruments</a></button>
    {% else %}
        <button><a class="nav-link" href={% url 'edit band members' artist.id %}>Edit Members</a></button>
    {% endif %}
    <button><a class="nav-link" href={% url 'edit artist genres' artist.id %}>Edit Genres</a></button>
    {% if artist.solo or artist.is_band %}
        <button><a class="nav-link" href={% url 'edit artist albums' artist.id %}>Edit Albums</a></button>
    {% endif %}
    <button><a class="nav-link" href={% url 'delete artist' artist.id %}>Delete Artist</a></button>
{% endblock %}