{% extends 'base/forms.html' %}

{% block style %}
<style>
    .card {
        margin: 0 auto;
    }
    input {
        display: block;
        width: 100%;
    }
    .btn-register {
        margin-top: 15px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    #id_status {
        width: 5%;
    }
    label {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block title %}
    Edit {{ band.name}} Members
{% endblock %}

{% block content %}
<div class="card-header"><h3 class="text-center font-weight-light my-4">Edit {{ band.name}} Members</h3></div>
<button><a class="nav-link" href={% url 'add band member' band.id %}>Add Member</a></button>
<div class="row" style="display: flex; justify-content: center;">
    {% for band_member in band_members %}
        <a href={% url 'musician details' band_member.member.id %}>{{ band_member.member.name }}</a>
    {% endfor %}
</div>
{% endblock %}