{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ user.email }} profile</h1>
    {% if user.profile.profile_image %}
        <img class="rounded-circle mb-3" src="{{ user.profile.profile_image.url }}" alt="" width="140" height="140">
    {% else %}
        <img class="rounded-circle mb-3" src="{% static 'images/Default Image.png'%}" alt="" width="140" height="140">
    {% endif %}
    <p>Name: {{ user.profile.name }}</p>
    <p>Gender: {{ user.profile.gender }}</p>
    <p>From: {{ user.profile.country }}</p>
    <p>Age: {{ user.profile.age }}</p>

    <div class="row" style="display: flex; justify-content: center;">
        {% for review in reviews %}
            <h>{{ review.album.title }}</h>
            <div>
                <p>{{ review.title }}</p>
                <p>{{ review.rating }}/10</p>
                <p>{{ review.description }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{{request.META.HTTP_REFERER}}">Back</a>
{% endblock %}