{% extends 'base/forms.html' %}

{% block style %}
<style>
    .card {
        margin: 0 auto;
    }
    input {
        display: block;
        width: 100%;
    }
    .btn-register {
        margin-top: 15px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    #id_status {
        width: 5%;
    }
    label {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block title %}
    Edit {{ artist.name}} Genres
{% endblock %}

{% block content %}
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit {{ artist.name}} Genres</h3></div>
    <button><a class="nav-link" href={% url 'add artist genres' artist.id %}>Add Genre</a></button>
    <div class="row" style="display: flex; justify-content: center;">
        {% for artist_genre in artist_genres %}
            <p>{{ artist_genre.genre.name }}</p><a class="nav-link remove-album" href={% url 'delete artist genre' artist.id artist_genre.genre.id %}>Remove</a>
        {% endfor %}
    </div>
{% endblock %}