{% extends 'base/base.html' %}

{% block content %}
    <div class="album_details">
        <h2 style="margin: 0 auto; padding-bottom: 25px;"> {{ album.artist.name }}</h2>
        <h3 style="margin: 0 auto; padding-bottom: 25px;"> {{ album.title }}</h3>
        <img style="width: 300px; height: 300px; margin: 0 auto;" src="{{ album.album_cover.url }}" alt="">
        <div style="display: flex; width: 50%; margin:0 auto; justify-content: space-between">
            {% if request.user.is_staff %}
                <button><a class="nav-link" href={% url 'edit album info' album.id %}>Edit Info</a></button>
                <button><a class="nav-link" href={% url 'edit album songs' album.id %}>Edit Songs</a></button>
            {% endif %}
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 50px;">
            <p><b>Released: </b>{{ album.released }}</p>
            <p><b>Label: </b>{{ album.label }}</p>
            <p><b>Genre: </b>{{ album.genre.name }}</p>
            <p><b>Duration: </b>{{ album.length }}</p>
        </div>

        <h3 style="margin: 0 auto; padding-bottom: 20px;">Tracks</h3>
        <table>
            <thead>
                <th>Track</th>
                <th>Length</th>
                <th>Lyrics</th>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.title }}</td>
                        <td>{{ song.length }}</td>
                        <td><a href={% url 'song lyrics' song.id %}>View Lyrics</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; width: 50%; margin:0 auto; margin-top: 25px !important; justify-content: space-between">
            {% if request.user.is_authenticated %}
                {% if not has_review %}
                    <button><a class="nav-link" href={% url 'add review' album.id %}>Write Review</a></button>
                {% endif %}
            {% endif %}
            <button><a class="nav-link" href={% url 'reviews' album.id %}>Reviews</a></button>
        </div>
    </div>
{% endblock %}