{% extends 'base/base.html' %}

{% block content %}
    <div class="artist_details">
        <h2 style="margin: 0 auto; padding-bottom: 25px;"> {{ artist.name }}</h2>
        <div style="display: flex; flex-direction: row; margin: 0 auto; padding-bottom: 50px;">
            <img style="width: 250px; height: 350px;" src="{{ artist.image.url }}" alt="">
            <div style="display: flex; flex-direction: column; padding: 50px; justify-content: center; justify-content: space-around;">
                {% if request.user.is_staff %}
                    <button style="margin-bottom: 10px;"><a class="nav-link" href={% url 'edit artist info' artist.id %}>Edit Info</a></button>
                    {% if artist.born %}
                        <button style="margin-bottom: 10px;"><a class="nav-link" href={% url 'edit musician instruments' artist.id %}>Edit Instruments</a></button>
                    {% else %}
                        <button style="margin-bottom: 10px;"><a class="nav-link" href={% url 'edit band members' artist.id %}>Edit Members</a></button>
                    {% endif %}
                    <button style="margin-bottom: 10px;"><a class="nav-link" href={% url 'edit artist genres' artist.id %}>Edit Genres</a></button>
                    {% if artist.solo or artist.is_band %}
                        <button style="margin-bottom: 10px;"><a class="nav-link" href={% url 'edit artist albums' artist.id %}>Edit Albums</a></button>
                    {% endif %}
                        <button><a class="nav-link" href={% url 'delete artist' artist.id %}>Delete Artist</a></button>
                {% endif %}
            </div>
        </div>

        <p><b>Country: </b>{{ artist.country_of_origin }}</p>
        <p><b>Years Active: </b>{{ artist.years_active }}</p>
        <p><b>Label: </b>{{ artist.label }}</p>
        <p style="text-align: justify;">{{ artist.description }}</p>
        <p><b>Status: </b>
            {% if artist.status %}
                <span>Active</span>
            {% else %}
                <span>Split-up</span>
            {% endif %}
        </p>
        <p><b>Genres: </b></p>
            {% for genre in genres %}
                <p>{{ genre.genre.name }}</p>
            {% endfor %}

        {% if artist.born %}
            <h3 style="margin: 0 auto; padding-bottom: 20px;">Bands</h3>
            <table>
                <thead>
                    <tr>
                        <th>Band</th>
                        <th>Instrument</th>
                        <th>Years Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for band in bands %}
                        <tr>
                            <td><a href={% url 'artist details' band.band.id %}>{{ band.band }}</a></td>
                            <td>{{ band.instrument}}</td>
                            <td>{{ band.years_active }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 style="margin: 0 auto; padding-bottom: 20px;">Albums</h3>
            <table>
                <thead>
                    <th>Album</th>
                    <th>Title</th>
                    <th>Released</th>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td><a href={% url 'album details' album.id %}>{{ album.title}}</a></td>
                            <td>{{ album.type }}</td>
                            <td>{{ album.released }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3 style="margin: 0 auto; padding-bottom: 20px;">Members</h3>
            <div style="display: flex; margin: 0 auto;">
                <table style="margin-right: 50px;">
                    <thead>
                        <tr>
                            <th>Present Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for band_member in present_band_members %}
                            <tr>
                                <td><a href={% url 'artist details' band_member.member.id %}>{{ band_member.member.name}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>Past Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for band_member in past_band_members %}
                            <tr>
                                <td><a href={% url 'artist details' band_member.member.id %}>{{ band_member.member.name}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}